.menu {
    width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 600px;

h1, h2, p, img, .fotito, .piefoto {
  text-align: center;
}

img, .fotito {
width: 300px;
heigth: 300px;
}
