.menu {
  width: 80%;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 600px;
}

h1, h2, h3, h4, p, .piefoto {
  text-align: center;
}

img {
width: 300px;
heigth: 300px;
margin: auto;
display: block;
}

body {
  background-image: url(wallpaperflare.com_wallpaper.jpg);
  font-family: sans-serif;
  padding: 20px;
}

p {
    color: white;
}

h1, h2 {
    color: GoldenRod;
}

hr {
  background-color: Maroon;
  border-color: Maroon;
}

h3 {
  color: red;
}

h4 {
  color: yellow;
}

.geo, .miguel, .jose, .rick, .andrei, .elian {
width: 250px;
heigth: 250px;
margin: auto;
display: block;
